{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css"  href="style.css">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static './lib/bootstrap/css/bootstrap.min.css' %}"> 
  <link rel="stylesheet" href="{% static './lib/fontawesome/css/all.min.css' %}"
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
 
  <style>
   .fakeimg {
    height: 100px;
    background: #cc9966;
  }
     hight : 150px;
     width : 350px;
   .jumbotron{
    background: #cc9966;
  }
    body {
     background-image: url("static/img/profile1.jpg");

    }

    </style>
</head>
<body>
{% block content %}{% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>