{% extends 'frontend/base.html' %}
{% block title2 %}Home{% endblock %}
{% block  content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Home' %}" class="text-dark">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'bread' %}">Bread</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cake' %}">Cake</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cookies' %}">Cookies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
  </div>
</nav>

<div class="container">
  <h2  class="text-light" style="font-size:50px;"><b>COOKIES</b></h2>
  <p class="text-light" style="font-size:20px;">คุกกี้ต้นตำรับจากเบลเยี่ยมแท้มีทั้งหน้าฟิมล์และหน้ากรอบและอีกหลากหลายหน้า มีทั้งรสช็อคโกแล็ต รสวานิลา รสชาเขียว รสธัญพืชและอีกหลากหลายรสให้เลือกซอฟต์เสิร์ฟเนื้อละมุนลิ้น หอม หวานมันกำลังดี เอาใจคนรักสุขภาพ</p>
  <p class="text-light" style="font-size:20px;">อร่อยขนาดนี้ต้องมาลองแล้วนะคะทุกคน^^</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="static/img/cookies1.jpg" target="_blank">
          <img src="static/img/cookies1.jpg" alt="cookies1" style="width:100%">
          <div class="caption">
            <p>price 1/45 Bath</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="static/img/cookies2.jpg" target="_blank">
          <img src="static/img/cookies2.jpg" alt="cookies2" style="width:100%">
          <div class="caption">
            <p>price 1/35 Bath</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/cookies3.jpg" target="_blank">
          <img src="static/img/cookies3.jpg" alt="cookies3" style="width:100%">
         
          <div class="caption">
            <p>price 1/35 Bath</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

</body>
</html>

{% endblock  %}

